In [2]:
import pandas as pd

In [5]:
df=pd.read_excel("C:\\Users\\BHUMIKA\\Desktop\\Data Science\\Assignments\\Dataset_outlier.xlsx")

In [9]:
df

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
9     imran    14.5
10     jose     6.1
11  deepika     5.6
12   yoseph     1.2
13    binod     5.5

In [10]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [11]:
df

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
9     imran    14.5
10     jose     6.1
11  deepika     5.6
12   yoseph     1.2
13    binod     5.5

In [13]:
max_threshold=df["height"].quantile(0.95)
max_threshold

9.689999999999998

In [14]:
min_threshold=df["height"].quantile(0.05)
min_threshold

3.6050000000000004

In [18]:
df[(df["height"]>min_threshold) &  (df["height"]<max_threshold)]

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5

In [19]:
#Now lets explore banglore property prices dataset

In [34]:
df=pd.read_csv("C:\\Users\\BHUMIKA\\Desktop\\Data Science\\Assignments\\Banglore_Property_Outlier.csv")
df.head(50)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.00,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.00,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.00,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.00,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.00,2.0,51.00,2,4250
5,Whitefield,2 BHK,1170.00,2.0,38.00,2,3247
6,Old Airport Road,4 BHK,2732.00,4.0,204.00,4,7467
7,Rajaji Nagar,4 BHK,3300.00,4.0,600.00,4,18181
8,Marathahalli,3 BHK,1310.00,3.0,63.25,3,4828
9,other,6 Bedroom,1020.00,6.0,370.00,6,36274
10,Whitefield,3 BHK,1800.00,2.0,70.00,3,3888
11,Whitefield,4 Bedroom,2785.00,5.0,295.00,4,10592
12,7th Phase JP Nagar,2 BHK,1000.00,2.0,38.00,2,3800
13,Gottigere,2 BHK,1100.00,2.0,40.00,2,3636
14,Sarjapur,3 Bedroom,2250.00,3.0,148.00,3,6577
15,Mysore Road,2 BHK,1175.00,2.0,73.50,2,6255
16,Bisuvanahalli,3 BHK,1180.00,3.0,48.00,3,4067
17,Raja Rajeshwari Nagar,3 BHK,1540.00,3.0,60.00,3,3896
18,other,3 BHK,2770.00,4.0,290.00,3,10469
19,other,2 BHK,1100.00,2.0,48.00,2,4363
20,Kengeri,1 BHK,600.00,1.0,15.00,1,2500
21,Binny Pete,3 BHK,1755.00,3.0,122.00,3,6951
22,Thanisandra,4 Bedroom,2800.00,5.0,380.00,4,13571
23,Bellandur,3 BHK,1767.00,3.0,103.00,3,5829
24,Thanisandra,1 RK,510.00,1.0,25.25,1,4950
25,other,3 BHK,1250.00,3.0,56.00,3,4480
26,Electronic City,2 BHK,660.00,1.0,23.10,2,3500
27,Whitefield,3 BHK,1610.00,3.0,81.00,3,5031
28,Ramagondanahalli,2 BHK,1151.00,2.0,48.77,2,4237
29,Electronic City,3 BHK,1025.00,2.0,47.00,3,4585
30,Yelahanka,4 BHK,2475.00,4.0,186.00,4,7515
31,Bisuvanahalli,3 BHK,1075.00,2.0,35.00,3,3255
32,Hebbal,3 BHK,1760.00,2.0,123.00,3,6988
33,Raja Rajeshwari Nagar,3 BHK,1693.00,3.0,57.39,3,3389
34,Kasturi Nagar,3 BHK,1925.00,3.0,125.00,3,6493
35,Kanakpura Road,2 BHK,700.00,2.0,36.00,2,5142
36,Electronics City Phase 1,2 BHK,1070.00,2.0,45.50,2,4252
37,Kundalahalli,3 BHK,1724.00,3.0,125.00,3,7250
38,Chikkalasandra,3 BHK,1290.00,2.0,56.12,3,4350
39,Uttarahalli,2 BHK,1143.00,2.0,45.00,2,3937
40,Murugeshpalya,2 BHK,1296.00,2.0,81.00,2,6250
41,Sarjapur Road,3 BHK,1254.00,3.0,38.00,3,3030
42,other,1 BHK,600.00,1.0,38.00,1,6333
43,Yelahanka,1 Bedroom,660.00,1.0,48.00,1,7272
44,Kanakpura Road,2 BHK,1330.74,2.0,91.79,2,6897
45,HSR Layout,8 Bedroom,600.00,9.0,200.00,8,33333
46,Doddathoguru,2 BHK,970.00,2.0,33.00,2,3402
47,Whitefield,2 BHK,1459.00,2.0,94.82,2,6498
48,KR Puram,2 Bedroom,800.00,1.0,130.00,2,16250
49,other,2 BHK,869.00,2.0,36.00,2,4142

In [22]:
Q1=df['price_per_sqft'].quantile(0.25)
Q3=df['price_per_sqft'].quantile(0.75)
IQR=Q3-Q1

In [23]:
IQR

3050.0

In [26]:
Q1

4267.0

In [27]:
Q3

7317.0

In [32]:
Q1-(1.5*IQR)

-308.0

In [33]:
(Q3+(1.5*IQR))

11892.0

In [30]:
df1= df[(df['price_per_sqft'] > (Q1-(1.5*IQR))) & (df['price_per_sqft'] <(Q3+(1.5*IQR)))]

In [35]:
df1.head(50)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.00,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.00,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.00,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.00,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.00,2.0,51.00,2,4250
5,Whitefield,2 BHK,1170.00,2.0,38.00,2,3247
6,Old Airport Road,4 BHK,2732.00,4.0,204.00,4,7467
8,Marathahalli,3 BHK,1310.00,3.0,63.25,3,4828
10,Whitefield,3 BHK,1800.00,2.0,70.00,3,3888
11,Whitefield,4 Bedroom,2785.00,5.0,295.00,4,10592
12,7th Phase JP Nagar,2 BHK,1000.00,2.0,38.00,2,3800
13,Gottigere,2 BHK,1100.00,2.0,40.00,2,3636
14,Sarjapur,3 Bedroom,2250.00,3.0,148.00,3,6577
15,Mysore Road,2 BHK,1175.00,2.0,73.50,2,6255
16,Bisuvanahalli,3 BHK,1180.00,3.0,48.00,3,4067
17,Raja Rajeshwari Nagar,3 BHK,1540.00,3.0,60.00,3,3896
18,other,3 BHK,2770.00,4.0,290.00,3,10469
19,other,2 BHK,1100.00,2.0,48.00,2,4363
20,Kengeri,1 BHK,600.00,1.0,15.00,1,2500
21,Binny Pete,3 BHK,1755.00,3.0,122.00,3,6951
23,Bellandur,3 BHK,1767.00,3.0,103.00,3,5829
24,Thanisandra,1 RK,510.00,1.0,25.25,1,4950
25,other,3 BHK,1250.00,3.0,56.00,3,4480
26,Electronic City,2 BHK,660.00,1.0,23.10,2,3500
27,Whitefield,3 BHK,1610.00,3.0,81.00,3,5031
28,Ramagondanahalli,2 BHK,1151.00,2.0,48.77,2,4237
29,Electronic City,3 BHK,1025.00,2.0,47.00,3,4585
30,Yelahanka,4 BHK,2475.00,4.0,186.00,4,7515
31,Bisuvanahalli,3 BHK,1075.00,2.0,35.00,3,3255
32,Hebbal,3 BHK,1760.00,2.0,123.00,3,6988
33,Raja Rajeshwari Nagar,3 BHK,1693.00,3.0,57.39,3,3389
34,Kasturi Nagar,3 BHK,1925.00,3.0,125.00,3,6493
35,Kanakpura Road,2 BHK,700.00,2.0,36.00,2,5142
36,Electronics City Phase 1,2 BHK,1070.00,2.0,45.50,2,4252
37,Kundalahalli,3 BHK,1724.00,3.0,125.00,3,7250
38,Chikkalasandra,3 BHK,1290.00,2.0,56.12,3,4350
39,Uttarahalli,2 BHK,1143.00,2.0,45.00,2,3937
40,Murugeshpalya,2 BHK,1296.00,2.0,81.00,2,6250
41,Sarjapur Road,3 BHK,1254.00,3.0,38.00,3,3030
42,other,1 BHK,600.00,1.0,38.00,1,6333
43,Yelahanka,1 Bedroom,660.00,1.0,48.00,1,7272
44,Kanakpura Road,2 BHK,1330.74,2.0,91.79,2,6897
46,Doddathoguru,2 BHK,970.00,2.0,33.00,2,3402
47,Whitefield,2 BHK,1459.00,2.0,94.82,2,6498
49,other,2 BHK,869.00,2.0,36.00,2,4142
50,other,2 BHK,1270.00,2.0,50.00,2,3937
51,Bhoganhalli,3 BHK,1670.00,3.0,99.00,3,5928
52,Whitefield,3 BHK,2010.00,3.0,91.00,3,4527
53,Lakshminarayana Pura,2 BHK,1185.00,2.0,75.00,2,6329
54,Yelahanka,3 BHK,1600.00,2.0,75.00,3,4687

In [37]:
df1.shape

(11935, 7)